.banner{
    width: 85%;
    margin: auto;
}

.article_img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 25px;
    height: 223px;
}

.banner img{
    width: 100%;
    object-fit: cover;
    height: 223px;
    border-radius: 25px;
    filter: brightness(40%);
    z-index: 1;
}

.title_banner{
    color: white;
    position: absolute;
    top: 40%;  
    left: 40%;
    z-index: 2;
}