.div_carrousel{
    height: 415px;
    width: 85%;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 15px;
}

.div_carrousel img{
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.text_hidden{
    visibility: hidden;
}

.div_carrousel button{
    background: transparent;
    border: none;
}

.button_prev{
    position: relative;
    bottom: 60%;
}

.button_next{
    position: relative;
    bottom: 60%;
    left: 80%;
}

.div_carrousel .icone{
    font-size: 80px;
}