.div_main{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
}

.div_main__title_logement{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin-bottom: 5px;
}

.div_main__location_logement{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 0px;
    margin-bottom: 25px;
}

.div_main_title{
    width: 65%;
}

.div_tags{
    display: flex;
    gap: 2%;
}

.div_host{
    display: flex;
    justify-content: flex-end;
}

.div_host__host_name{
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    text-align: right;
    width: 30%;
    line-height: 25px;
}

.div_host__figure{
    height: 64px;
    width: 64px;
    border-radius: 45px;
    margin: 12px;
}

.div_host__figure img{
    height: 64px;
    width: 100%;
    border-radius: 45px;
}

.div_stars{
    display: flex;
    justify-content: flex-end;
}

.div_stars__star, .div_stars__neutral{
    margin: 6px;
    font-size: 22px;
}

.div_stars__star{
    color: #FF6060;
}

.div_stars__neutral{
    color: #E3E3E3;
}

.div_main_collapse{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    gap: 5%;
}

.div_1, .div_2{
    width: 50%;
}

.custom_collapse, .custom_div_collapse{
    width: 100%;
}

@media (max-width: 767.98px) {

    .div_main,  .div_main_collapse{
        width: 90%;
    }

    .div_main{
        flex-direction: column;
        margin-bottom: 0px;
    }
    
    .div_main_title{
        width: 100%;
        margin-bottom: 10px;
    }

    .div_main__title_logement{
        line-height: 25px;
        font-size: 18px;
    }

    .div_main_rating{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .div_host__host_name{
        gap: 5px;
        font-size: 16px;
    }

    .div_stars{
        align-items: center;
    }

    .div_main_collapse{
        flex-direction: column;
    }

    .div_main__location_logement{
        font-size: 14px;
    }

    .div_host__figure{
        height: 40px;
        width: 40px;
        border-radius: 45px;
        margin: 8px;
        margin-top: 20px;
    }
    
    .div_host__figure img{
        height: 40px;
        width: 100%;
        border-radius: 45px;
    }

    .div_stars__star, .div_stars__neutral{
        font-size: 16px;
        margin: 3px;
    }

    .div_1, .div_2{
        width: 100%;
    }
}