.div_main {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-bottom: 30px;

  @media (max-width: 767.98px) {
    width: 90%;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.div_main__title_logement {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  margin-bottom: 5px;

  @media (max-width: 767.98px) {
    line-height: 25px;
    font-size: 18px;
  }
}

.div_main__location_logement {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-top: 0;
  margin-bottom: 25px;

  @media (max-width: 767.98px) {
    font-size: 14px;
  }
}

.div_main_title {
  width: 65%;

  @media (max-width: 767.98px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.div_tags {
  display: flex;
  gap: 2%;
}

.div_host {
  display: flex;
  justify-content: flex-end;
}

.div_host__host_name {
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
  text-align: right;
  width: 30%;
  line-height: 25px;

  @media (max-width: 767.98px) {
    gap: 5px;
    font-size: 16px;
  }
}

.div_host__figure {
  height: 64px;
  width: 64px;
  border-radius: 45px;
  margin: 12px;

  @media (max-width: 767.98px) {
    height: 40px;
    width: 40px;
    margin: 8px;
    margin-top: 20px;
  }
}

.div_host__figure img {
  height: 64px;
  width: 100%;
  border-radius: 45px;

  @media (max-width: 767.98px) {
    height: 40px;
  }
}

.div_stars {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 767.98px) {
    align-items: center;
  }
}

.div_stars__star, .div_stars__neutral {
  margin: 6px;
  font-size: 22px;

  @media (max-width: 767.98px) {
    font-size: 16px;
    margin: 3px;
  }
}

.div_stars__star {
  color: #FF6060;
}

.div_stars__neutral {
  color: #E3E3E3;
}

.div_main_collapse {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  gap: 5%;

  @media (max-width: 767.98px) {
    width: 90%;
    flex-direction: column;
  }
}

.div_1, .div_2 {
  width: 50%;

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.custom_collapse, .custom_div_collapse {
  width: 100%;
}
