$main-background-color: #F6F6F6;
$main-background-color-mobile: white;
$main-border-radius: 25px;
$main-gap: 45px;
$main-padding: 45px;
$main-width: 85%;
$main-padding-mobile: 5px;

.main {
  background-color: $main-background-color;
  border-radius: $main-border-radius;
  gap: $main-gap;
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  width: $main-width;
  align-self: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 767.98px) {
    width: 90%;
    background-color: $main-background-color-mobile;
    padding-top: $main-padding-mobile;
    padding-bottom: $main-padding-mobile;
  }
}
