.title_404, .message_404, h3{
    text-align: center;
}

.title_404, .message_404{
    color: #FF6060;
}

.title_404{
    font-size: 288px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
}

.message_404{
    font-size: 36px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3{
    margin-top: 100px;
    margin-bottom: 100px;

}

.return_404{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none; 
    color: black;
}

.return_404:hover{
    text-decoration: underline;
}

@media (max-width: 767.98px) {
  
    .title_404{
        font-size: 120px;
        font-weight: 700;
    }

    .message_404{
        font-size: 22px;
    }

    .return_404{
        font-size: 16px;
    }
    
}