.tag{
    background-color: #FF6060;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    width: 100%;
}

.tag_title{
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 4px;
}

