.header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 40px;

  .header__logo {
    height: 68px;
    width: 20%;
  }

  .link {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding: 0;

    a {
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 767.98px) {
    .header__logo {
      height: 46px;
      width: 40%;
    }

    .link a {
      font-size: 12px;
      text-transform: uppercase;
    }

    .link {
      gap: 26px;
    }
  }
}
